---
title: UIKonf
description: UIKonf - An independent conference for serious iOS and Swift developers organized in Berlin.
---
{% include top.html %}
<article class="Home">
	<div class="is-markdown">
		<img src="/static/images/heimathafen.png">
		<h1>UIKonf 2015 - Berlin, May 17-20</h1>

		<p>Take part in Berlin's independent conference for serious iOS developers. UIKonf 2015 will take place at Heimathafen Neukölln, Berlin. In addition to covering the hottest topics in app development, UIKonf 2015 will also be a great place to meet and connect with great people. The schedule in short:</p>		 

		<p>Sunday, May 17th - Social activities in the afternoon, kickoff in the evening<br/>
			Monday & Tuesday, May 18th /19th - Conference at Heimathafen Neukölln<br/>
			Wednesday, May 20th - Hackathon</p>
		 
 		<h3><a id="tickets" name="tickets"></a>Tickets</h3>
		 
		<tito-widget event="uikonf/2015"></tito-widget>
		<p>If you prefer to book directly through ti.to, go to <a href="https://ti.to/uikonf/2015" target="_blank">https://ti.to/uikonf/2015</a></p>
		<p>Fees exclude VAT, but include free coffee, drinks and lunch during the conference, social activities on Sunday afternoon and lots of new knowledge to take home. To help us planning the social events, please select your preferred activity when booking your ticket. You can always edit it later.</p> 
		
		<h4>A note for corporate buyers</h4>

		<p>If you are a corporate customer and would like to send a larger team (5+ people) over, please <a href="mailto:questions@uikonf.com">get in touch</a>. We can arrange a bulk discount and work with your procurement to make the purchase as seamless as possible.</p>
		
		<h3><a id="scholarship" name="scholarship"></a>Free Scholarship Tickets</h3>
		
		<p>If you are unable to afford a ticket, you can apply for a free scholarship ticket until February 28th, 2015. These tickets are awarded to talented students and iOS newcomers.</p>
		<a href="/scholarship/">Learn more about the scholarship &#10145;</a></br>
		
		<h3><a id="speakers" name="speakers"></a>First Confirmed Speakers</h3>
		<p><a href="https://twitter.com/secboffin" target="_blank">Graham Lee </a>- Author of <a href="http://www.sicpers.info/" target="_blank">sicpers.info</a> and &quot;<span id="btAsinTitle">Test-Driven iOS Development</span>&quot;<br />
		<a href="https://twitter.com/bmf" target="_blank">Mike Lee</a> - Founder of <a href="http://appsterdam.rs/" target="_blank">Appsterdam.rs</a><br/>
		<a href="https://twitter.com/mennenia" target="_blank">Maxim Cramer </a>- iOS developer at SwiftKey<br />
		<a href="https://twitter.com/natashatherobot" target="_blank">Natasha (the Robot) Murashev </a>- Author of <a href="http://natashatherobot.com" target="_blank">natashatherobot.com </a></br>
		<a href="https://twitter.com/politepix" target="_blank">Halle Winkler</a> - creator of <a href="http://www.politepix.com/openears/" target="_blank">OpenEars</a></br>
		<a href="https://twitter.com/ashfurrow" target="_blank">Ash Furrow</a> - open source enthusiast, author and co-author of several books</br>
	<a href="">JP Simard</a> is an Objective-C and Swift engineer at <a href="http://www.objc.io/books/">Realm</a></br>
	<a href="">Chris Eidhof</a> started <a href="http://www.uikonf.com">UIKonf</a> in 2013, <a href="http://www.objc.io">objc.io</a>, and wrote a book about <a href="http://www.objc.io/books/">Functional Programming in Swift</br>
	</p>
		<a href="/speakers/">Learn more about our speakers &#10145;</a> 
			
		<h3>Call For Papers</h3>
		<p>UIKonf's call for paper is powered by Vestibule, a platform for anonymously publishing talk proposals. This platform allows users to give feedback to proposed talks and helps speakers to fine-tune their presentations. We encourage you to comment on already submitted proposals or to <a href="http://cfp.uikonf.com">submit your own proposal</a>.</p>
		<p>Deadline for submittal: February 15th</br>
Deadline for final changes: February 22nd</br>
Voting period: February 23rd - March 1st</br></p>
		<a href="http://cfp.uikonf.com/proposals">View and submit proposals &#10145;</a> 		 
		
		<h3>Information for Sponsors</h3>
		<p>UIKonf is a great place to meet talented and experienced developers in a less formal context. If you are interested in supporting UIKonf, get in touch with <a href="https://twitter.com/ekurutepe" target="_blank">Engin Kurutepe</a> by sending an email to <a href="mailto:questions@uikonf.com" target="_blank">questions@uikonf.com</a>.</p>
	</div>
</article>
{% include bottom.html %}

