---
---
{% include top.html %}
<article class="Home">
	<div class="is-markdown">
		<h1>UIKonf 2015</h1>

		<p>After our previous post, we heard back from you. Thanks <3.</p>

		<p>We are very excited to announce that three people from the local community will take over UIKonf, and they have already started planning lots of things for the 2015 edition. We can't think of any better team to take UIKonf to the next level than <a href="https://twitter.com/ekurutepe">Engin</a>, <a href="https://twitter.com/iceX33">Maxim</a> and <a href="https://twitter.com/sabinegeithner">Sabine</a>. All three are passionate developers, and great at organizing things.</p>

		<p>As we've built up quite some experience in what works (and more importantly, what doesn't), we'll be there for any advice that they need. Hereby, we hand over all the virtual keys, and are really looking forward to 2015. All of us are very much looking forward to being at next year's edition, and it'll be great to enjoy the conference from the other side of the stage. Here's to Engin, Maxim and Sabine!<p>

	</div>
</article>
{% include bottom.html %}

