---
title: Speakers
description: Confirmed Speakers for UIKonf 2015. More coming soon… 
---
{% include top.html %}
	<article class="About">
		
<p>Here are the speakers already confirmed for UIKonf 2015. More coming soon…</p>

<div style="margin-bottom:80px;">
	<img src="/static/images/Graham-Lee.png" class="speaker-mugshot" alt="Graham Lee" title="Graham Lee"/>
	<h2>Graham Lee</h2>
	<p>Graham Lee works at Facebook, where he helps people make better tests so they can help people make better software. In the past he worked with some other people, and has written books and blogs so he can work with people he hasn't met too. His blog is at <a href="http://sicpers.info" target="_blank" >sicpers.info</a>.</p>
</div>

<div style="margin-bottom:80px;">
	<img src="/static/images/Mike-Lee.png" class="speaker-mugshot"  alt="Mike Lee" title="Mike Lee"/>
	<h2>Mike Lee</h2>
	<p><a href="https://twitter.com/bmf" target="_blank">Mike Lee</a> is an American engineer living in Amsterdam. He has worked with some interesting and even historic project teams, including such titles and company names as Delicious Monster, Tap Tap Revenge, Appsterdam, Obama '08, Black Pixel, Lemurs Chemistry, and Apple. He is currently studying terraforming.</p>
	
<div style="margin-bottom:80px;">
	<img src="/static/images/Maxim-Cramer.jpg" class="speaker-mugshot" alt="Maxim Cramer" title="Maxim Cramer"/>
<h2>Maxim Cramer</h2>
<p><a href="https://twitter.com/mennenia" target="_blank">Maxim</a> currently works at SwiftKey where she had the privilege to be part of developing and launching SwiftKey Keyboard for iOS. Starting off with digital design at a young age, she grew curious about programming and so pursued it professionally, yet never straying far from UI/UX. Passionate about humans, she advocates testing products with people first and foremost, always enjoying the looks of surprise, confusion, and delight.</p>
</div>

	<div style="margin-bottom:80px;">
		<img src="/static/images/Natasha-Murashev.jpg" class="speaker-mugshot" alt="Natasha Murashev" title="Natasha Murashev"/>
<h2>Natasha (the Robot) Murashev</h2>
<p><a href="https://twitter.com/natashatherobot" target="_blank">Natasha</a> is a Swift and WatchKit enthusiast who writes about her experiences with this still developing technology on natashatherobot.com and in her <a href="http://swiftnews.curated.co/" target="_blank">weekly Swift newsletter</a>. She currently works as an iOS engineer for Capital One in San Francisco. In her free time, she works on personal projects, speaks at meetups and conferences, and contributes to open source.</p>
</div>
	<div style="margin-bottom:80px;">
		<img src="/static/images/HalleWinkler.jpg" class="speaker-mugshot" alt="Halle Winkler" title="Halle Winkler"/>
<h2>Halle Winkler</h2> 
<p><a href="https://twitter.com/Politepix">Halle Winkler</a> is the software developer and UX designer behind Berlin's <a href="http://www.politepix.com/">Politepix</a>, which produces <a href="http://www.politepix.com/openears/">OpenEars</a>, the most popular offline speech recognition framework for iOS. She has worked in tech startups in the Silicons Alley, Valley and Allee since the days of Web .9 and has been preoccupied with human factors since day one. Her first line of code was in BASIC on a Commodore VIC-20, but since then there has often been a sample buffer involved.</p>
</div>
	<div style="margin-bottom:80px;">
		<img src="/static/images/Ash.jpg" class="speaker-mugshot" alt="Ash Furrow" title="Ash Furrow"/>
<h2>Ash Furrow</h2>
<p><a href="https://twitter.com/ashfurrow">Ash Furrow</a> cut his teeth at <a href="http://500px.com">500px</a>. Later, he moved on to <a href="http://teehanlax.com">Teehan+Lax</a>, Canada's leading design agency. Now he works at <a href="http://artsy.net">Artsy</a>, an amazing company whose goal it is to make art as popular and accessible as music. He is an open source enthusiast, author and co-author of several books, including "Functional Reactive Programming on iOS".</p>

</div>

</div>
	<div style="margin-bottom:80px;">
		<img src="/static/images/JP.jpg" class="speaker-mugshot" alt="JP Simard" title="JP Simard"/>
<h2>JP Simard</h2> 
<p><a href="https://twitter.com/simjp">JP Simard</a> is an Objective-C and Swift engineer at <a href="http://www.objc.io/books/">Realm</a>, a modern mobile database replacement for SQLite and Core Data. He's the creator of <a href="https://github.com/realm/jazzy">jazzy</a> (the documentation tool Apple forgot to release) and a co-organizer of <a href="http://www.meetup.com/swift-language/">SLUG</a>, the largest Swift user group in the world.
</p>
</div>
<div style="margin-bottom:80px;">
		<img src="/static/images/chris-eidhof.jpg" class="speaker-mugshot" alt="Chris Eidhof" title="Chris Eidhof"/>
<h2>Chris Eidhof</h2>
<p><a href="https://twitter.com/chriseidhof">Chris Eidhof</a> is a Dutch software developer living in Berlin. He spends most of his time building iOS and Mac apps, such as <a href="http://decksetapp.com">Deckset</a>. He started <a href="http://www.uikonf.com">UIKonf</a> in 2013, <a href="http://www.objc.io">objc.io</a>, and wrote a book about <a href="http://www.objc.io/books/">Functional Programming in Swift</a>.</p>

</div>

<div style="margin-bottom:80px;">
		<img src="/static/images/BrianGesiak.jpg" class="speaker-mugshot" alt="Brian Gesiak" title="Brian Gesiak"/>
<h2>Brian Gesiak</h2>
<p><a href="https://twitter.com/chriseidhof">Brian</a> is the creator of <a href="https://github.com/Quick/Quick">Quick</a>, the Swift (and Objective-C) testing framework. He also maintains several other testing frameworks, is a software engineer at Facebook in New York, and was--in a former lifetime--a translator of Japanese literature. His blog is at <a href="http://modocache.io">http://modocache.io</a>.</p>
</div>

<div style="margin-bottom:80px;">
		<img src="/static/images/SaniulAhmed.jpg" class="speaker-mugshot" alt="Saniul Ahmed" title="Saniul Ahmed"/>
<h2>Saniul Ahmed</h2>
<p><a href="https://twitter.com/saniul">Saniul</a> is an incurable optimist, whose bio puzzles government agencies all around the world.
He currently works on <a href="https://itunes.apple.com/us/app/heyday-photo-journal-capture/id738164919?mt=8">Heyday</a> by day, contributes to <a href="https://github.com/Khan/Prototope">Prototope</a> by night and spends weekends <a href="https://my.hey.co/HHYDwHRVNmTN">exploring</a> the San Francisco Bay Area. Previously grew and lead the iOS team at <a href="http://neosphere.com">NeoSphere</a> in Moscow, studied in London and tinkered in Poland. As a life-long learner himself he strives to inspire new generations to do so too.</p>

</div>

<div style="margin-bottom:80px;">
		<img src="/static/images/ClausHoefele.jpg" class="speaker-mugshot" alt="Claus Höfele" title="Claus Höfele"/>
<h2>Claus H&ouml;fele</h2>

<p><a href="https://twitter.com/claushoefele" target="_blank">Claus</a>&nbsp;currently works as Lead Engineer Mobile at eBay Classifieds Germany. He initiated the open-source app &ldquo;<a href="https://itunes.apple.com/en/app/stolpersteine-in-berlin/id640731757?mt=8" target="_blank">Stolpersteine in Berlin</a>&rdquo; and is the author of <a href="https://github.com/choefele/CCHMapClusterController" target="_blank">CCHMapClusterController</a>. His latest side project is &ldquo;<a href="http://heretothereapp.com" target="_blank">Here to There</a>&rdquo; &ndash; an app that shows nearby departures of public transport services.</p>
</div>

<div style="margin-bottom:80px;">
		<img src="/static/images/TomAdriaenssen.jpg" class="speaker-mugshot" alt="Tom Adriaenssen" title="Tom Adriaenssen"/>
<h2>Tom Adriaenssen</h2>

<p>Tom is a freelance software engineer from Antwerp, Belgium. Currently working for <a href="http://icapps.com" target="_blank">iCapps</a>, acting as the technical lead for their mobile developer team. Also known as the creator of <a href="http://github.com/inferis/ViewDeck" target="_blank">ViewDeck</a>. When not working, he co-manages a household together with his lovely wife, including 4 children and 2 cats. Notorious for using gifs when retorting on <a href="http://www.twitter.com/inferis" target="_blank">twitter</a>.</p>
</div>


<div style="margin-bottom:80px;">
		<img src="/static/images/EliPerkins.jpg" class="speaker-mugshot" alt="Eli Perkins" title="Eli Perkins"/>
<h2>Staters Gonna State - Eli Perkins</h2>

<p><a href="https://twitter.com/_eliperkins" target="_blank">Eli</a> is an iOS Engineer at <a href="http://www.venmo.com" target="_blank">Venmo</a> in NYC, working to make payments an easier, more social experience. A craft beer aficionado, esports evangelist, and a perennial yak shaver, his passion in iOS lies in pixel perfection and elegant engineering. His explorations in Swift and functional programming in both Objective-C and Swift have piqued his curiosity as of late.</p>

<div style="margin-bottom:80px;">
		<img src="/static/images/HectorZarate.jpeg" class="speaker-mugshot" alt="Hector Zarate" title="Hector Zarate"/>
<h2>Hector Zarate</h2>

<p><a href="https://twitter.com/ioscowboy" target="_blank">Hector Zarate</a> is <a href="https://www.spotify.com" target="_blank">Spotify</a>&#39;s own iOS cowboy. Before that, he was bouncing all across Europe like a pinball ball doing mobile applications for banks and other big companies. He writes on his blog <a href="http://ioscowboy.com/" target="_blank">iOSCowboy.com</a> and enjoys submitting pull requests to open source projects on Github. He&#39;s been a mobile aficionado since his first Palm IIIe.</p>

</div>

<p>8 more speakers have been confirmed and will be announced in the coming days…</p>


{% include bottom.html %}
