---
title: News
permalink: /news/
description: Follow our updates about the upcoming UIKonf 2015.
---
{% include top.html %}
	<article class="Home">
		<div class="is-markdown">
		<h1>News</h1>
		<p>If you want to receive regular updates about UIKonf 2015, <a href="http://eepurl.com/8iSaj" target="_blank">sign up for our newsletter</a> or follow us on Twitter at <a href="http://twitter.com/uikonf" target="_blank">@uikonf</a>. If you have specific questions or are interested in sponsoring, send an email to <a href="mailto:questions@uikonf.com" target="_blank">questions@uikonf.com</a>.</p>
		
		{% for post in site.posts %}
  			{% include news_item.html %}
		{% endfor %}
	</div>
	</article>	
{% include bottom.html %}
