---
title: Scholarship
description: Apply for a scholarship for UIKonf 2015
---
{% include top.html %}
	<article class="About">
		
		<h1>UIKonf Scholarship Guidelines</h1>

		<h2>Overview</h2>
		The scholarship recipients are invited to UIKonf at no charge. We will cover the conference ticket fees but you are responsible for your own accomodation and travel. To be considered for a UIKonf 2015 Scholarship, create an app that showcases your creativity and skills. Here's some information to help you prepare for your scholarship application.

		<h2>Create an App</h2>
		Use your creativity and coding skills to build an app that tells us about you. Your app should highlight development projects you’ve worked on, your educational and professional background, technical skills, and interests.

		<h2>App Requirements</h2>
		<ul>
			<li>Create a native iOS app or Mac app written in Objective-C or Swift.</li>
			<li>Write your app using Xcode 6 and the iOS 8.1 SDK or OS X 10.10.1 SDK.</li>
			<li>Use your name as the app name.</li>
			<li>Your app must build without errors.</li>
			<li>All app content must be in English.</li>
		</ul>
		
		
		<h2>Submission</h2>

		Submit your scholarship application until Jan 31st, 2015, 23:59 CET using the form below.
		
		You will need the following information:
		
		<ul>
			<li>Your full name, date of birth, postal address and email</li>
			<li>URL of the github repository containing your app</li>
			<li>You twitter and/or blog (optional)</li>
		</ul>
		
		<form accept-charset="UTF-8" action="https://formkeep.com/f/5dfb67d0af8a" method="POST" class="validate-form">
		  <fieldset>
			  <legend>Basic Info</legend>
			  <input type="hidden" name="utf8" value="✓">
			  <label for="name">Your Name</label>
			  <input type="text" name="name" required><br>
			  <label for="bday">Your Date of Birth</label>
			  <input type="date" name="bday" required>
			  <label for="email">Your Email</label>
			  <input type="email" name="email" required><br>
			  <label for="url">Your Website/Blog</label>
			  <input type="url" name="url"><br>
			  <label for="twitter">Your Twitter handle</label>
	  		  <input type="text" name="twitter"><br>
		  </fieldset>
		  <fieldset>
			  <legend>Address</legend>
			  <label for="street">Street</label>
			  <input type="text" name="street" required><br>
			  <label for="city">City</label>
			  <input type="text" name="city" required><br>
			  <label for="post-code">Post Code</label>
			  <input type="text" name="post-code" required><br>
			  <label for="country">Country</label>
			  <input type="text" name="country" required><br>	
		  </fieldset>
		  <fieldset>
			  <legend>Your App</legend>
			  <label for="app">Github Repository URL for your app </label>
			  <input type="url" name="app" required><br>
		  </fieldset>
		  <input type="submit" value="Submit"><br>
		</form>
	</article>

<script>	
	function hasHtml5Validation () {
	 return typeof document.createElement('input').checkValidity === 'function';
	}

	if (hasHtml5Validation()) {
	 $('.validate-form').submit(function (e) {
	   if (!this.checkValidity()) {
	     // Prevent default stops form from firing
	     e.preventDefault();
	     $(this).addClass('invalid');
	     $('#status').html('invalid');
	   } else {
	     $(this).removeClass('invalid');
	     $('#status').html('submitted');
	   }
	 });
	}
</script>
	
{% include bottom.html %}
		
		
