	<footer class="Footer">
		<div class="Footer-content">
			<ul class="Footer-sections">
				<li class="Footer-section Footer-section--contact">
					<h3 class="Footer-heading">Contact</h3>
					<div class="Footer-text is-markdown">
						<p>Get in touch at <a href="https://twitter.com/uikonf">@uikonf</a> or <a href="&#109;&#97;&#105;l&#x74;&#x6f;&#58;&#x71;&#x75;&#101;s&#x74;&#105;&#x6f;ns&#64;&#x75;&#x69;&#107;&#x6f;&#x6e;&#102;.&#99;&#x6f;&#109;">&#x71;&#x75;&#101;s&#x74;&#105;&#x6f;ns&#64;&#x75;&#x69;&#107;&#x6f;&#x6e;&#102;.&#99;&#x6f;&#109;</a>.</p>
					</div>
				</li>
				<li class="Footer-section Footer-section--imprint">
					<h3 class="Footer-heading">Imprint</h3>
					<div class="Footer-text is-markdown">
						<p>Fifteen Jugglers Software UG, Fuldastr. 39, 12045 Berlin. HRB127623B, USt.-ID: DE271966472</p>
					</div>
				</li>
			</ul>
		</div>
	</footer>