<div class="newsletter backshape grey-color">
  <div class="wrapper">
    <div class="uk-container uk-container-center">
      <div class="uk-grid">
        <div class="uk-width-medium-8-10 uk-container-center">
          <div class="uk-grid uk-margin-large-top">
            <div class="uk-width-1-1 uk-text-center">
              <h1 class="brand-color">Stay updated - Join our newsletter</h1>
            </div>
            <div class="uk-width-medium-6-10 uk-container-center">
              <form class="uk-form uk-text-center">
                  <fieldset data-uk-margin>
                      <input type="text" placeholder="E-mail adresse" class="uk-form-large uk-form-width-medium">
                      <button class="btn uk-button-large">Subscribe</button>
                  </fieldset>
              </form>
              <p class="uk-text-center">Get in touch at <a href="https://twitter.com/uikonf">@uikonf</a> or 
              <script type="text/javascript">
                  <!--
                  var name = "questions";
                  var domain = "uikonf.com";
                  document.write('<a class="email" href=\"mailto:' + name + '@' + domain + '\">');
                  document.write(name + '@' + domain + '</a>');
                  // -->

              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="site-footer">
  <div class="straight light-grey">
    <div class="uk-container uk-container-center">
      <div class="uk-grid">
        <div class="uk-width-1-1 uk-margin-large-top">
          <p><small><a href="http://www.fifteenjugglers.com">Fifteen Jugglers Software UG</a>, Grossbeerenstr. 79, 10963 Berlin. HRB127623B, <br>
              USt.-ID: DE271966472</small></p>
        </div>        
      </div>
    </div>
</div>
</footer>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/components/uikit/js/uikit.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/components/uikit/js/components/parallax.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/scripts.js"></script>
