	<footer class="Footer">
		<div class="Footer-content">
			<ul class="Footer-sections">
				<li class="Footer-section Footer-section--contact">
					<h3 class="Footer-heading">Contact</h3>
					<div class="Footer-text is-markdown">
						<p>Get in touch at <a href="https://twitter.com/uikonf">@uikonf</a> or <a href="mailto:questions@uikonf.com">questions@uikonf.com</a> or sign up for our <a href="http://eepurl.com/8iSaj" target="">newsletter</a>.</p>
					</div>
				</li>
				<li class="Footer-section Footer-section--imprint">
					<h3 class="Footer-heading">Imprint</h3>
					<div class="Footer-text is-markdown">
						<p>Fifteen Jugglers Software UG, Fuldastr. 39, 12045 Berlin. HRB127623B, USt.-ID: DE271966472</p>
					</div>
				</li>
			</ul>
		</div>
	</footer>