		<header class="Header">
			<div class="Header-wrapper">
				<div class="Header-logo">
					<a href="/"><img src="/static/images/uikonf-logo.svg" alt="UIKonf"></a>
				</div>
				<nav class="Navigation">
					<ul class="Navigation-links">
						<li class="Navigation-link"><a class="is-current" href="/">Future</a></li>
						<li class="Navigation-link"><a href="/about/">About</a></li>
						<li class="Navigation-link"><a href="/videos/">Videos</a></li>
						<li class="Navigation-link"><a href="/news/">News</a></li>
					</ul>
				</nav>
			</div>
		</header>