		<header class="Header">
			<div class="Header-wrapper">
				<div class="Header-logo">
					<a href="/"><img src="/static/images/uikonf-logo.svg" alt="UIKonf"></a>
				</div>
				<nav class="Navigation">
					<ul class="Navigation-links">
						{% assign current = page.url | downcase | split: '/' %}
						    <li class="Navigation-link"><a href='/' {% if page.url == '/index.html' %}class='is-current'{% endif %}>2015</a></li>
						    <li class="Navigation-link"><a href='/speakers' {% if current[1] == 'speakers' %}class='is-current'{% endif %}>Speakers</a></li>
						    <li class="Navigation-link"><a href='/news' {% if current[1] == 'news' %}class='is-current'{% endif %}>News</a></li>
						    <li class="Navigation-link"><a href='/about' {% if current[1] == 'about' %}class='is-current'{% endif %}>About</a></li>
						    <li class="Navigation-link"><a href='/videos' {% if current[1] == 'videos' %}class='is-current'{% endif %}>Videos</a></li>
						    <!-- <li class="Navigation-link"><a href='/code-of-conduct' {% if current[1] == 'code-of-conduct' %}class='is-current'{% endif %}>Code of Conduct</a></li> -->

					</ul>
				</nav>
			</div>
		</header>