<!DOCTYPE html>
<html class="Site" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="An independent conference for serious iOS developers organized in Berlin in 2013 &amp; 2014.">
		<title>UIKonf</title>
		<link rel="author" href="/humans.txt">
		<link rel="shortcut icon" href="/static/icons/favicon.75a42d92d0ede36e9ba14da50a56f402.ico">
		<link href="//cloud.webtype.com/css/e698faf2-67fc-4b7e-ac5c-3dda9017360e.css" rel="stylesheet">
		<link rel="stylesheet" href="/static/styles/all.css">
	</head>
