<!DOCTYPE html>
<html class="Site" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{page.description}}">
		<title>{{page.title}}</title>
		<link rel="author" href="/humans.txt">
		<link rel="shortcut icon" href="/static/icons/favicon.75a42d92d0ede36e9ba14da50a56f402.ico">
		<link href="//cloud.webtype.com/css/e698faf2-67fc-4b7e-ac5c-3dda9017360e.css" rel="stylesheet">
		<link rel="stylesheet" href="/static/styles/all.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		{% if page.url == '/index.html' %}
		<link rel="stylesheet" type="text/css" href='https://css.tito.io/v1' />
		<script src='https://js.tito.io/v1' async></script>
		{% endif %}
	</head>
	<body class="Body">
		{% include header.html %}
		<main class="Content" role="main">