
// Diagonal elements

.headerimage {
  background: $brand-color;
  height:500px;
  width:100%;
  background-size:cover;

  &.small {
  	height: 339px;
  }
}

.backshape {
  z-index:3;
  position: relative;
  display:block;
  float:left;
  margin-top:-127px;
  width:100%;
  background: white;
  transform:skew(0deg,-5deg);
-ms-transform:skew(0deg,-10deg); /* IE 9 */
-webkit-transform:skew(0deg, -5deg); /* Safari and Chrome */
	
	&.newsletter {
	    margin-top: -81px;
    	padding-bottom: 50px;
    	margin-bottom: 0px;
	}	
	
	.wrapper {
		display:block;
		float:left;
		margin:50px auto 200px;
		width:100%;
		transform:skew(0deg, 5deg);
		-ms-transform:skew(0deg, 10deg);
		-webkit-transform:skew(0deg, 5deg); 

		&.small {
			margin:50px auto 100px;
		}
	}

	&.opposite {
		transform:skew(0deg,5deg);
		-ms-transform:skew(0deg,10deg); /* IE 9 */
		-webkit-transform:skew(0deg, 5deg); /* Safari and Chrome */

		.wrapper { 
			transform:skew(0deg, -5deg);
			-ms-transform:skew(0deg, -10deg);
			-webkit-transform:skew(0deg, -5deg); 
		}
	}

	&.brand-color {
		background: $brand-color;
	}
  	
  	&.light-grey {
  		background: $light-grey;
  	}

  	&.grey-color {
  		background: $grey-color;
  	}

  	&.brand-color, &.grey-color {
  		h1,h2,h3,h4,h5,h6, p {
			color: #fff;
		}
  	}

}

.straight {
	background: white;
	z-index:3;
	margin-top:-4.4em;
	position:relative;
	width:100%;
	display:block;
	float:left;
	padding-bottom: 200px;

  &.light-grey {
  	background: $light-grey;
  }

  &.brand-color {
  	background: $brand-color;

  	h1, h2, h3, h4, h5, h6, p {
  		color: white;
  	}
  }
}

.info-box {
	position: absolute;
	bottom: -10px;
	left: 10px;
	background: $brand-color;
	color: #fff;
	padding: 10px 20px;
	width: 75%;
	z-index: 2;

	@media screen and (max-width: 479px) {
		width: 86%;
		bottom: -30px;
    }
	
	&.grey {
		background: $grey-color;
	}

	h4 {
		color: #fff;
		margin-bottom: 0px;
		font-size: 22px;
	}

	p {
		margin: 0px;
	}
}

.previous-organisers {
	.box {
		@media screen and (max-width: 479px) {
			width: 75%;
	        margin: 0 auto;
    	}
	}
}
.box {

	margin-bottom: 10px !important;
	position: relative;
	padding: 10px;

	& + p {
		padding: 0 10px;
		
		@media screen and (max-width: 479px) {
			width: 85%;
        	margin: 0 auto;
    	}
	}

	@media screen and (max-width: 479px) {
		width: 85%;
        margin: 0 auto;
		margin-bottom: 35px !important;
    }
}

