label, input {
    display: inline-block;
    vertical-align: baseline;
	font-size: 16px;
}

label {
    width: 39%;
    color: #2D2D2D;
}

input {
	width: 60%;
	padding: 8px;
}

form {
    width: 100%;
}


/* .invalid class prevents CSS from automatically applying */
.invalid input:required:invalid {
  background: #BE4C54;
}
 
/* Mark valid inputs during .invalid state */
.invalid input:required:valid {
  background: #17D654 ;
}