.Home {
	max-width: 40em;
	margin: 0 auto;
}

.Schedule {
	width: 100%;
	
	td {
	    vertical-align: top;
		padding-left:10px;
	}
	
    &-break {
        background-color: lightgrey;
		border:1px solid lightgrey;
    }
}