---
title: About
description: Learn about the story of UIkonf and the people behind it.
---
{% include top.html %}
	<article class="About">
		<div class="About-text is-markdown">
			<h1>About UIKonf</h1>
			
			<p>UIKonf is an independent conference for serious iOS developers which was originally organized by <a href="https://twitter.com/chriseidhof" target="_blank">Chris Eidhof</a>, <a href="https://twitter.com/fidothe">Matt Patterson</a>, <a href="https://twitter.com/peterbihr" target="_blank">Peter Bihr</a> and <a href="https://twitter.com/KrgerMax" target="_blank">Max Krüger</a>. <a href="/news/2014/09/19/is-uikonf-2015-happening">Due to personal circumstances</a> they transferred UIKonf to a new team in October 2014.</p><p>UIKonf 2015 is going to be organized in Berlin by:</p></div>
			
			<div class="Organizers">
				<ul class="Organizers-persons">
				
				<li class="Organizers-person"><div class="Organizers-image"><img src="/static/images/engin-kurutepe.png" alt></div>
				<header class="Organizers-header">
					<h2 class="Organizers-heading"><a href="https://twitter.com/ekurutepe" target="_blank">Engin Kurutepe</a></h2>
				</header>
				<div class="Organizers-text is-markdown"><p>Used to be a Ph.D. student. Bought an iPhone when the first iPhone SDK was released and has been building iOS apps ever since. Did not get around to finishing his thesis. Organizes <a href="http://cocoaheads-berlin.org" target="_blank">CocoaHeads Berlin</a>. Glider pilot in training.
</p></div></li>
				
				<li class="Organizers-person">
					<div class="Organizers-image"><img src="/static/images/maxim-zaks.png" alt></div>
					<header class="Organizers-header">
						<h2 class="Organizers-heading"><a href="https://twitter.com/iceX33" target="_blank">Maxim Zaks</a></h2>
					</header>
					<div class="Organizers-text is-markdown">
						<p>Software developer with a history in IDE development, Web development and even Enterprise Java development (He was young and under bad influence). Nowadays working as a game developer (preferably  iOS). Regular visitor and occasional speaker at conferences.</p>
					</div>
				</li>
					
				<li class="Organizers-person">
					<div class="Organizers-image"><img src="/static/images/sabine-geithner.png" alt></div>
					<header class="Organizers-header">
						<h2 class="Organizers-heading"><a href="https://twitter.com/sabinegeithner" target="_blank">Sabine Geithner</a></h2>
					</header>
					<div class="Organizers-text is-markdown">
						<p>Biotechnologist by training who started developing apps about a year ago. Has been active in the developer community since June 2012, co-organizing workshops for <a href="http://railsgirlsberlin.de" target="_blank">Rails Girls Berlin</a>.</p>
					</div>
				</li>
				
				<li class="Organizers-person">
					<div class="Organizers-image"><img src="/static/images/diana-arce.png" alt></div>
					<header class="Organizers-header">
						<h2 class="Organizers-heading"><a href="https://twitter.com/visualosmosis" target="_blank">Diana Arce</a></h2>
					</header>
					<div class="Organizers-text is-markdown"><p>Artist, researcher and trickster with an eye for detail and a love of creating spaces and events for new experiences, active engagement and knowledge exchange. She is the founder of Founder of <a href="http://politaoke.com" target="_blank">Politaoke</a> and <a href="http://artistswac.org" target="_blank">ArtistsWAC</a> and develops projects and events for all kinds of organizations internationally.</p>
					</div>
				</li>
			</ul>
			
	</article>
{% include bottom.html %}
		
		
