---
---
{% include top.html %}
	<article class="About">
		<div class="About-text is-markdown">
			<h1>About UIKonf</h1>
			<p>UIKonf is an independent conference for serious iOS developers that has been organized in <a href="http://2013.uikonf.com">2013</a> &amp; <a href="http://2014.uikonf.com/">2014</a> in Berlin by:</p></div>
			
			<div class="Organizers">
				<ul class="Organizers-persons">
				
				<li class="Organizers-person"><div class="Organizers-image"><img src="/static/images/chris-eidhof.jpg" alt></div>
				<header class="Organizers-header">
					<h2 class="Organizers-heading"><a href="https://twitter.com/chriseidhof">Chris Eidhof</a></h2><a href="http://eidhof.nl">http://eidhof.nl</a>
				</header>
				<div class="Organizers-text is-markdown"><p>An iOS and Mac developer who’s been building iOS apps since the first public release of the SDK. He created the magazine <a href="http://objc.io">objc.io</a> and organized <a href="http://www.alt-tech-talks.com/">Alt Tech Talks Berlin</a>. Recently, he has been building a new Mac app for creating beautiful presentations: <a href="http://www.decksetapp.com">Deckset</a>.</p></div></li>
				
				<li class="Organizers-person">
					<div class="Organizers-image"><img src="/static/images/matt-patterson.jpg" alt></div>
					<header class="Organizers-header">
						<h2 class="Organizers-heading"><a href="https://twitter.com/fidothe">Matt Patterson</a></h2><a href="http://werkstatt.io">http://werkstatt.io</a>
					</header>
					<div class="Organizers-text is-markdown">
						<p>A long-time developer of web apps. He’s a regular speaker at conferences and user groups. He organised the first <a href="http://historyhackday.org">History Hackday</a> and was one of the organizers of <a href="http://redmonk.com/jgovernor/2010/04/14/dont-believe-the-hype-come-to-nosql-eu-april-20-22/">NoSQL Europe 2010</a>. He also helps mentor the <a href="https://github.com/rubymonsters">Ruby Monsters</a> Rails Girls Berlin study group.</p>
					</div>
				</li>
					
				<li class="Organizers-person">
					<div class="Organizers-image"><img src="/static/images/peter-bihr.jpg" alt></div>
					<header class="Organizers-header">
						<h2 class="Organizers-heading"><a href="https://twitter.com/peterbihr">Peter Bihr</a></h2><a href="http://thewavingcat.com">http://thewavingcat.com</a>
					</header>
					<div class="Organizers-text is-markdown">
						<p>Gets up in the morning to connect people and ideas. A <a href="http://peterbihr.com">digital strategy guy</a> by day, at night he organizes independent community events like UIKonf, <a href="http://thingscon.com">Things</a>, Cognitive Cities Conference, Ignite Berlin or TEDxKreuzberg. He also serves as Program Director at <a href="http://nextberlin.eu/">NEXT Berlin</a>.</p>
					</div>
				</li>
				
				<li class="Organizers-person">
					<div class="Organizers-image"><img src="/static/images/max-kruger.jpg" alt></div>
					<header class="Organizers-header">
						<h2 class="Organizers-heading"><a href="https://twitter.com/KrgerMax">Max Krüger</a></h2><a href="http://maxkrueger.com">http://maxkrueger.com</a>
					</header>
					<div class="Organizers-text is-markdown"><p>Interested in spaces, experiences and technologies to foster collaboration, creativity and the active exchange of knowledge. He worked on several highly regarded projects including ThIngsCon, the Global Innovation Lounge and the Creative Space Explorer.</p>
					</div>
				</li>
			</ul>
		</div>
	</article>
{% include bottom.html %}
		
		
