---
title: About
description: Learn about the story of UIkonf and the people behind it.
---
{% include top.html %}
	<article class="About">
		<div class="About-text is-markdown">
			<h1>About UIKonf</h1>
			
			<p>UIKonf is an independent conference for serious iOS developers that is going to be organized again in Berlin in 2015  by:</p></div>
			
			<div class="Organizers">
				<ul class="Organizers-persons">
				
				<li class="Organizers-person"><div class="Organizers-image"><img src="/static/images/engin-kurutepe.png" alt></div>
				<header class="Organizers-header">
					<h2 class="Organizers-heading"><a href="https://twitter.com/ekurutepe" target="_blank">Engin Kurutepe</a></h2>
				</header>
				<div class="Organizers-text is-markdown"><p>Used to be a Ph.D. student. Bought an iPhone when the first iPhone SDK was released and has been building iOS apps ever since. Did not get around to finishing his thesis. Organizes <a href="http://cocoaheads-berlin.org" target="_blank">CocoaHeads Berlin</a>. Glider pilot in training.
</p></div></li>
				
				<li class="Organizers-person">
					<div class="Organizers-image"><img src="/static/images/maxim-zaks.png" alt></div>
					<header class="Organizers-header">
						<h2 class="Organizers-heading"><a href="https://twitter.com/iceX33" target="_blank">Maxim Zaks</a></h2>
					</header>
					<div class="Organizers-text is-markdown">
						<p>Software developer with a history in IDE development, Web development and even Enterprise Java development (He was young and under bad influence). Nowadays working as a game developer (preferably  iOS). Regular visitor and occasional speaker at conferences.</p>
					</div>
				</li>
					
				<li class="Organizers-person">
					<div class="Organizers-image"><img src="/static/images/sabine-geithner.png" alt></div>
					<header class="Organizers-header">
						<h2 class="Organizers-heading"><a href="https://twitter.com/sabinegeithner" target="_blank">Sabine Geithner</a></h2>
					</header>
					<div class="Organizers-text is-markdown">
						<p>Biotechnologist by training who started developing apps about a year ago. Has been active in the developer community since June 2012, co-organizing workshops for <a href="http://railsgirlsberlin.de" target="_blank">Rails Girls Berlin</a>.</p>
					</div>
				</li>
				
				<li class="Organizers-person">
					<div class="Organizers-image"><img src="/static/images/diana-arce.png" alt></div>
					<header class="Organizers-header">
						<h2 class="Organizers-heading"><a href="https://twitter.com/visualosmosis" target="_blank">Diana Arce</a></h2>
					</header>
					<div class="Organizers-text is-markdown"><p>Artist, researcher and trickster with an eye for detail and a love of creating spaces and events for new experiences, active engagement and knowledge exchange. She is the founder of Founder of <a href="http://politaoke.com" target="_blank">Politaoke</a> and <a href="http://artistswac.org" target="_blank">ArtistsWAC</a> and develops projects and events for all kinds of organizations internationally.</p>
					</div>
				</li>
			</ul>
			
			<hr style="margin:60px 0;"/>
			<div class="About-text is-markdown">
			<h2>Previous Organizers</h2></div>
			<p>UIKonf was originally organized by Chris Eidhof, Matt Patterson, Peter Bihr and Max Krüger. <a href="/news/2014/09/19/is-uikonf-2015-happening">Due to personal circumstances</a> they transferred UIKonf in October 2014 to the current team.</p>
			<div class="Organizers">
				<ul class="Organizers-persons">
				
				<li class="Organizers-person"><div class="Organizers-image"><img src="/static/images/chris-eidhof.jpg" alt></div>
				<header class="Organizers-header">
					<h2 class="Organizers-heading"><a href="https://twitter.com/chriseidhof">Chris Eidhof</a></h2><a href="http://eidhof.nl">http://eidhof.nl</a>
				</header>
				<div class="Organizers-text is-markdown"><p>An iOS and Mac developer who’s been building iOS apps since the first public release of the SDK. He created the magazine <a href="http://objc.io">objc.io</a> and organized <a href="http://www.alt-tech-talks.com/">Alt Tech Talks Berlin</a>. Recently, he has been building a new Mac app for creating beautiful presentations: <a href="http://www.decksetapp.com">Deckset</a>.</p></div></li>
				
				<li class="Organizers-person">
					<div class="Organizers-image"><img src="/static/images/matt-patterson.jpg" alt></div>
					<header class="Organizers-header">
						<h2 class="Organizers-heading"><a href="https://twitter.com/fidothe">Matt Patterson</a></h2><a href="http://werkstatt.io">http://werkstatt.io</a>
					</header>
					<div class="Organizers-text is-markdown">
						<p>A long-time developer of web apps. He’s a regular speaker at conferences and user groups. He organised the first <a href="http://historyhackday.org">History Hackday</a> and was one of the organizers of <a href="http://redmonk.com/jgovernor/2010/04/14/dont-believe-the-hype-come-to-nosql-eu-april-20-22/">NoSQL Europe 2010</a>. He also helps mentor the <a href="https://github.com/rubymonsters">Ruby Monsters</a> Rails Girls Berlin study group.</p>
					</div>
				</li>
					
				<li class="Organizers-person">
					<div class="Organizers-image"><img src="/static/images/peter-bihr.jpg" alt></div>
					<header class="Organizers-header">
						<h2 class="Organizers-heading"><a href="https://twitter.com/peterbihr">Peter Bihr</a></h2><a href="http://thewavingcat.com">http://thewavingcat.com</a>
					</header>
					<div class="Organizers-text is-markdown">
						<p>Gets up in the morning to connect people and ideas. A <a href="http://peterbihr.com">digital strategy guy</a> by day, at night he organizes independent community events like UIKonf, <a href="http://thingscon.com">Things</a>, Cognitive Cities Conference, Ignite Berlin or TEDxKreuzberg. He also serves as Program Director at <a href="http://nextberlin.eu/">NEXT Berlin</a>.</p>
					</div>
				</li>
				
				<li class="Organizers-person">
					<div class="Organizers-image"><img src="/static/images/max-kruger.jpg" alt></div>
					<header class="Organizers-header">
						<h2 class="Organizers-heading"><a href="https://twitter.com/KrgerMax">Max Krüger</a></h2><a href="http://maxkrueger.com">http://maxkrueger.com</a>
					</header>
					<div class="Organizers-text is-markdown"><p>Interested in spaces, experiences and technologies to foster collaboration, creativity and the active exchange of knowledge. He worked on several highly regarded projects including ThIngsCon, the Global Innovation Lounge and the Creative Space Explorer.</p>
					</div>
				</li>
			</ul>
		</div>
	</article>
{% include bottom.html %}
		
		
