<header class="site-header">

  <div class="uk-container uk-container-center">
    <nav class="uk-navbar uk-margin-large-bottom">
        <a class="uk-navbar-brand" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/static/images/Logo.png" alt="logo UIKonf">
        </a>
          <ul class="uk-navbar-nav uk-hidden-small uk-navbar-flip">
              {% for my_page in site.pages %}
                {% if my_page.include_in_menu %}
                <li>
                  <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                </li>
                {% endif %}
              {% endfor %}
              <li>
                <a class="page-link btn" href="#">Tickets</a>
              </li>
          </ul>
          <ul class="uk-navbar-nav uk-visible-small uk-navbar-flip">
            <li>
                <a data-uk-offcanvas="{target:'#my-id'}"><i class="uk-icon-bars"></i></a>
            </li>
          </ul>
    </nav>
    <div id="my-id" class="uk-offcanvas">
        <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
          <ul  class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
              {% for my_page in site.pages %}
                {% if my_page.title %}
                <li>
                  <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                </li>
                {% endif %}
              {% endfor %}
              <li>
                <a class="page-link" href="#">Tickets</a>
              </li>
          </ul>
        </div>
    </div>
  </div>

</header>
