---
layout: page
description: What's new at UIKonf 2016. Read the latest news about Berlin's independent iOS developer conference.
redirect_from:
 - /post/65683121950/announcement-the-first-two-speakers.html
 - /post/69787210382/call-for-proposals-send-us-your-ideas-anonymously.html
 - /post/73944088686/speaker-nick-lockwood.html
 - /post/75477828488/premium-workshops-before-uikonf.html
 - /post/77368295138/join-our-hackday-at-betahaus.html
 - /post/77682973030/fueled-by-excellent-coffee.html
 - /post/77711142540/this-will-make-your-mouth-water-the-food-at-uikonf.html
 - /post/77806754051/workshop-core-data-for-ios-and-os-x.html
 - /post/78859248629/where-to-stay-some-hotel-recommendations.html
 - /post/79149171143/join-the-app-economy.html
 - /post/80049789545/sponsor-spotlight-jetbrains.html
 - /post/80571659711/sponsor-spotlight-twilio.html
 - /post/81485708414/location-for-pre-uikonf-workshops-tu-berlin.html
 - /post/82086409769/new-speaker-orta-therox.html
 - /post/85114800221/because-soundcloud-think-coffee-is-important-too.html
 - /post/85804522611/photos.html
 - /post/88351727933/nick-lockwood-image-performance.html
 - /post/88351727978/david-ronnqvist-opengl-es-demystified.html
 - /post/88451122185/rachel-andrew-were-not-doing-a-startup.html
 - /post/89066423226/july-5th-tdd-workshop.html
 - /post/92142102356/max-bazaliy-reverse-engineering-ios-apps.html
 - /archive/
 - /archives/
 - /news/
 - /2013/02/24/hello-world.html
 - /2013/03/07/suggestions_for_proposals.html
 - /2013/03/09/smart-defaults.html
 - /2013/03/11/coffee.html
 - /2013/03/14/voting.html
 - /2013/03/25/nshipster-quiz-night.html
 - /2013/03/27/welcome-students.html
 - /2013/03/28/preparty.html
 - /2013/03/28/preparty.html
 - /2013/04/03/UIKode.html
 - /2013/04/08/delicious.html
 - /2013/04/11/nshipster-pub-quiz.html
 - /2013/06/11/uikonf-training.html
---

{% for post in paginator.posts %}
<div class="blog-post">
	<article class="author-post uk-comment {% if forloop.first %}author-post-first{% endif %}">
		<header class="uk-comment-header">
			{% if post.author %}
		    <img class="uk-comment-avatar" src="{{ site.baseurl }}/static/images/{{ site.authors[post.author].thumbImg }}" alt="{{ site.authors[post.author].name }}">
		    <h4 class="uk-comment-title" itemprop="author" itemscope itemtype="http://schema.org/Person"><a href="{{ site.authors[post.author].twitter }}"><span itemprop="name">{{ site.authors[post.author].name }}</span></a></h4>
		    <div class="uk-comment-meta" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</div>        
			{% endif %}
		</header>
	</article>
	<article class="uk-article">
		<h1 class="post-title" itemprop="name headline">{{ post.title }}</h1>

	{{ post.content }}

	</article>
</div>

<div class="social-sharing uk-margin-large">
	<a href="#"><img src="{{ site.baseurl }}/static/images/icon-twitter.png" alt="twitter"></a>
	<a href="#"><img src="{{ site.baseurl }}/static/images/icon-facebook.png" alt="facebook"></a>
	<a href="#"><img src="{{ site.baseurl }}/static/images/icon-googleplus.png" alt="googleplus"></a>
</div>

{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination uk-text-right">
  {% if paginator.previous_page %}
    <a rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="uk-icon-long-arrow-left"></i> Prev</a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      {{ page }}
    {% elsif page == 1 %}
      <a href="{{ '/archives' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next <i class="uk-icon-long-arrow-right"></i></a>
  {% endif %}
</div>
{% endif %}