.About {

        max-width: 40em;
        margin: 0 auto;
}

.Organizers {

    &-persons {
        padding: 0;
        margin: 0 auto;
        list-style: none;
    }

    &-person {
        margin: 3em auto 0 auto;
    }

    &-image {
        max-width: 6em;
        margin: 0 auto 0 auto;

        padding-right: .5em;
        display: inline-block;
        vertical-align: middle;
    }

    &-image > img {
        border-radius: 3em;
    }

    &-header {

        padding-left: .5em;
        display: inline-block;
        vertical-align: middle;

    }

    &-heading {
        margin: 0;
        line-height: 1.25;
    }

    &-text {
        margin-top: .5em;
    }

}