.Videos {

    max-width: 40em;
    margin: 0 auto;

    &-heading {
        margin-top: 0;
    }

    &-items {
        margin: 0;
        padding: 0;
        list-style: none;
    }


    &-item {
        margin-top: 1.5em;
    }

    &-image {
        position: relative;
        margin-bottom: .75em;
        padding-bottom: 56%;
        overflow: hidden;
    }

    &-image > img {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    &-heading {
        margin: 0;
    }

    &-speaker {
        font-size: .875em;
        color: $text-color;
    }

    &-year {
        margin-left: .5em;
        font-size: .8em;
        color: $text-color;
    }

}

.Video {

    max-width: 40em;
    margin: 0 auto;

    &-header {
        margin-bottom: 1em;
    }

    &-heading {
        margin: 0;
    }

    &-speaker {
        color: $text-color;
    }

    &-year {
        margin-left: .5em;
        font-size: .8em;
        color: $text-color;
    }

    &-embed {
        position: relative;

        & > iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.AdjacentVideos {

    max-width: 40em;
    margin: 0 auto;

    margin-top: 1.5em;

    &-links {
        list-style: none;
        padding: 0;
        margin: 0 -.5em;
    }

    &-link {

        padding: 0 .5em;

        @media screen and (min-width: 40em) {
            vertical-align: top;
            display: inline-block;
            width: 50%;
        }

        &--next {
            margin-top: 1em;

            @media screen and (min-width: 40em) {
                margin-top: 0;
            }
        }

    }

    &-label {
        color: $text-color;
        font-size: .75em;

        @media screen and (min-width: 40em) {
            font-size: .8125em;
        }
    }

    &-heading {
        margin: 0;
    }

    &-speaker {
        font-size: .875em;
        color: $text-color;
    }
}