---
layout: default
---

<div class="headerimage small" style="background-image: url({{ site.baseurl }}/static/images/news_image.jpg);" data-uk-parallax="{bg: '-50'}">
</div>

<div class="backshape">
	<div class="wrapper small">
		<div class="uk-container uk-container-center">
			<div class="uk-grid">
				<div class="uk-width-1-1">
					<h1 class="brand-color uk-text-center">{{ page.title }}</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="straight">
	<div class="wrapper">
		<div class="uk-container uk-container-center">
		<div class="uk-grid archive-list">
			<div class="uk-width-large-8-10 uk-container-center">
				
				<div class="uk-grid">
				{% for post in site.posts %}
					<div class="uk-width-medium-2-10">
					    <article class="author-post uk-comment">
						    <header class="uk-comment-header">
						        {% if post.author %}
											<img class="uk-comment-avatar" src="{{ site.baseurl }}/static/images/{{ site.authors[post.author].thumbImg }}" alt="{{ site.authors[post.author].name }}">
							        <h4 class="uk-comment-title" itemprop="author" itemscope itemtype="http://schema.org/Person"><a href="{{ site.authors[post.author].twitter }}"><span itemprop="name">{{ site.authors[post.author].name }}</span></a></h4>
						        {% endif %}
						    </header>
						</article>
					</div>
					<div class="uk-width-medium-8-10">
					<div class="post-list">
					
					    <p class="post-meta uk-comment-meta">{{ post.date | date: "%b %-d, %Y" }}</p>

					    <h3>
					      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					    </h3>
					    <div class="post-content-truncate">
						  {% if post.content contains "<!-- more -->" %}
						    {{ post.content | split:"<!-- more -->" | first % }}
						  {% else %}
						    {
						    { post.content | strip_html | truncatewords:100 }}
						  {% endif %}
						</div>
						<div class="uk-text-right uk-margin-large-top">
	    					<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read more <i class="uk-icon-long-arrow-right"></i></a>
	    				</div>
					
					</div>
					</div>
					{% endfor %}
				</div>
				
			</div>
		</div>
		</div>
	</div>
</div>