---
layout: default
---

<div class="headerimage small" style="background-image: url({{ site.baseurl }}/static/images/news_image.jpg);" data-uk-parallax="{bg: '-50'}">
</div>

<div class="backshape">
	<div class="wrapper">
	</div>
</div>

<div class="straight">
	<div class="wrapper">
		<div class="uk-container uk-container-center">
			<div class="uk-grid">
				<div class="uk-width-medium-8-10 uk-container-center">
					
					<div class="blog-post">	
							{{ content }}
					</div>

    			<div class="social-sharing uk-margin-large-top">
    				<a href="#"><img src="{{ site.baseurl }}/static/images/icon-twitter.png" alt="twitter"></a>
    				<a href="#"><img src="{{ site.baseurl }}/static/images/icon-facebook.png" alt="facebook"></a>
    				<a href="#"><img src="{{ site.baseurl }}/static/images/icon-googleplus.png" alt="googleplus"></a>
    			</div>
    			<div class="uk-text-right uk-margin-large-top">
    				<a href="{{ site.baseurl }}/archive/">Past posts <i class="uk-icon-long-arrow-right"></i></a>
    			</div>
				</div>
			</div>
		</div>
	</div>
</div>
